* {
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Verdana", sans-serif;
}


header {
    background-image: url(../obrazy/man-2.jpg);
    background-size: auto;
    height: 1066px;
    position: relative;
}

div {
    text-align: right;
    width: 100%;
    top: 30px;
    right: 60px;
    font-size: 100%;
    position: absolute;
    color: white;
    padding: 30px;
}

div p {
    font-size: 150%;
    font-weight: bold;
    bottom: 60px;
    
}